<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SCRIPT AND LIBRARIES -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="data.js"></script>
    <!-- STYLES -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div id=root>
        <header>
            <div class="logo-container"><img src="imgs/boolflix.png" alt=""> </div>
            <div class="search-container">
                <input type="text" v-model="textToSearch" placeholder="Cerca" @keyup.enter="searchText()">
                <span class="btn" @click="searchText()">SEARCH</span>
            </div>
        </header>
        <main>
            <ul class="list-container">
                <li v-for="element in movieList">
                    <div class="img-container">
                        <img v-if="element.poster_path!==null" class="poster"
                            :src="'https://image.tmdb.org/t/p/' +'w342'+element.poster_path" alt="">
                        <img v-else src="imgs/no-poster.png" alt="" class="poster">
                        <div class="specs">
                            <div> <span> <strong>{{ element.title }}</strong> </span> </div>
                            <div v-if="element.title != element.original_title">
                                Titolo originale:
                                <span>
                                    {{element.original_title}}
                                </span>
                            </div>
                            <div> 
                                <span> {{element.original_language}} </span>
                                <img v-if="getLang(element.original_language)"
                                    :src="'imgs/'+getLang(element.original_language)" class="language" alt="lang">
                            </div>
                            <div>
                                <span class="vote-star" v-for='index in roundVote(element.vote_average)'>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="overview">{{element.overview}}</div>
                        </div>
                    </div>
                </li>
                <li v-for="element in tvSerieslist ">
                    <div class="img-container">
                        <img class="poster" v-if="element.poster_path!==null"
                            :src="'https://image.tmdb.org/t/p/' +'w342'+element.poster_path" alt="">
                        <img class="poster" v-else src="imgs/no-poster.png" alt="">
                        <div class="specs">
                            <div> <span> <strong>{{ element.name }}</strong> </span> </div>
                            <div v-if="element.name!=element.original_name"> 
                                Titolo originale:
                                <span> {{element.original_name}} </span>
                            </div>
                            <div> 
                                <span>
                                    {{element.original_language}}
                                </span>
                                <img v-if="getLang(element.original_language)"
                                    :src="'imgs/'+getLang(element.original_language)" class="language" alt="lang">
                            </div>
                            <div>
                                <span class="vote-star" v-for='index in roundVote(element.vote_average)'>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="overview">{{element.overview}}</div>
                        </div>
                    </div>
                </li>
            </ul>
        </main>
    </div>
    <script src="script.js"></script>
</body>

</html>