<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="imgs/favicon.png" />
    <!-- SCRIPT AND LIBRARIES -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="data.js"></script>
    <!-- STYLES -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Boolflix</title>
</head>

<body>
    <div id=root>
        <!-- HEADER CON LOGO E RICERCA -->
        <header>
            <div class="logo-container"><a href=""><img src="imgs/boolflix.png" alt=""></a> </div>
            <div class="search-container">
                <input type="text" v-model="textToSearch" placeholder="Cerca" @keyup.enter="searchText()">
                <span class="btn" @click="searchText()">SEARCH</span>
            </div>
        </header>
        <div @click="openCloseFilters()" class="filters-header margin-top-page"> Filtra <i class="fa fa-filter"
                aria-hidden="true"></i> <i class="fa fa-chevron-right" :class="{'fa-rotate-90' :isFilterOpen }"
                aria-hidden="true"></i> </div>
        <!-- FILTRI -->
        <div class="filters" :class="{'filter-open': isFilterOpen}">
            <select name="genres" id="" :size="10" @change="onChangeGenre()" v-model="selectedGenre">
                <option disabled value="null"> Filtra i film per genere </option>
                <option @click="openCloseFilters" v-for="genre in genresListMovie" :value="genre.id"> {{genre.name}}</option>
            </select>
            <select name="genres" id="" :size="10" @change="onChangeGenre()" v-model="selectedGenre">
                <option disabled value="null"> Filtra le serie TV per genere </option>
                <option @click="openCloseFilters" v-for="genre in genresListTv" :value="genre.id"> {{genre.name}}</option>
            </select>
        </div>
        <main>
            <!-- POP UP SPECS -->
            <div v-if="isContentOpened" class="specs-window">
                <div class="padding-10px">
                    <img class="poster" v-if="activeContent.poster_path!==null"
                        :src="'https://image.tmdb.org/t/p/' +'w342'+ activeContent.poster_path" alt="">
                    <img class="poster" v-else src="imgs/no-poster.png" alt="">
                </div>
                <div class="padding-10px">
                    <h4> CAST: </h4>
                    <span class="cast-actor" v-for="(actor,index) in activeContent.cast" v-if="index < 5">
                        {{actor.name}}
                        <span>, </span>
                        <span v-if="index == 4">...</span> </span>
                    <h4> OVERVIEW </h4>
                    <p> {{activeContent.overview}}</p>
                    <h4>GENERE:</h4>
                    <span v-for="genre in activeContent.genres">{{genre.name}}, </span>
                    <div class="top-margin">
                        <span> {{activeContent.original_language}} </span>
                        <img v-if="getLang(activeContent.original_language)"
                            :src="'imgs/'+getLang(activeContent.original_language)" class="language" alt="lang">
                    </div>
                    <div class="top-margin" v-if="activeContent.vote_average > 0">
                        <span class="vote-star" v-for='index in 5'>
                            <i v-if="index <= roundVote(activeContent.vote_average)" class="fa fa-star"
                                aria-hidden="true"></i>
                            <i v-else class="fa fa-star-o" aria-hidden="true"></i>
                        </span>
                    </div>
                    <!-- CLOSE BUTTON -->
                    <div class="close" @click="closeWindow();">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <ul class="list-container" :class="{'blur' : isContentOpened}">
                <!-- LISTA FILM -->
                <li v-for="element in moviesFiltered" @click="setActiveContent(element);
                                                        getCast('movie',element.id);
                                                        getGenresbyId('movie',element.id,element)">
                    <div class="img-container">
                        <img v-if="element.poster_path!==null" class="poster"
                            :src="'https://image.tmdb.org/t/p/' +'w342'+element.poster_path" alt="">
                        <img v-else src="imgs/no-poster.png" alt="" class="poster">
                        <div class="specs">
                            <div> <span> <strong>{{ element.title }}</strong> </span> </div>
                            <div v-if="element.title != element.original_title">
                                Titolo originale:
                                <span>
                                    {{element.original_title}}
                                </span>
                            </div>
                            <div>
                                <span> {{element.original_language}} </span>
                                <img v-if="getLang(element.original_language)"
                                    :src="'imgs/'+getLang(element.original_language)" class="language" alt="lang">
                            </div>
                            <div v-if="element.vote_average > 0">
                                <span class="vote-star" v-for='index in 5'>
                                    <i v-if="index <= roundVote(element.vote_average)" class="fa fa-star"
                                        aria-hidden="true"></i>
                                    <i v-else class="fa fa-star-o" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="overview">{{element.overview}}</div>
                            <div class="color-gray">Clicca per ulteriori informazioni</div>
                        </div>
                    </div>
                </li>
                <!-- LISTA SERIE TV -->
                <li v-for="element in tvSeriesFiltered" @click="setActiveContent(element);getCast('tv',element.id);getGenresbyId('tv',element.id,element)">
                    <div class="img-container">
                        <img class="poster" v-if="element.poster_path!==null"
                            :src="'https://image.tmdb.org/t/p/' +'w342'+element.poster_path" alt="">
                        <img class="poster" v-else src="imgs/no-poster.png" alt="">
                        <div class="specs">
                            <div> <span> <strong>{{ element.name }}</strong> </span> </div>
                            <div v-if="element.name!=element.original_name">
                                Titolo originale:
                                <span> {{element.original_name}} </span>
                            </div>
                            <div>
                                <span>
                                    {{element.original_language}}
                                </span>
                                <img v-if="getLang(element.original_language)"
                                    :src="'imgs/'+getLang(element.original_language)" class="language" alt="lang">
                            </div>
                            <div v-if="element.vote_average > 0">
                                <span class="vote-star" v-for='index in 5'>
                                    <i v-if="index <= roundVote(element.vote_average)" class="fa fa-star"
                                        aria-hidden="true"></i>
                                    <i v-else class="fa fa-star-o" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="overview">{{element.overview}}</div>
                        </div>
                    </div>
                </li>
            </ul>
        </main>
    </div>
    <script src="script.js"></script>
</body>

</html>