*{
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
body{
    background-color: rgb(39, 39, 39);
}
li{
    padding: 15px;

}
.language{
    width: 15px;
    height: 15px;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    overflow: hidden;
    border: solid white;

}
.img-container img{
    object-fit: cover;
    width: 100%;
    height: auto;
}
.vote-star{
    color: #f5bb1d;
}