*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
body{
    background-color: rgb(39, 39, 39);
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
h4{
    margin: 10px 0px 5px 0px;
}
header{
    height:80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content:  space-between;
    background-color: black;
    width: 100%;
}
header input{
    display: inline-block;
    padding: 5px;
    height: 35px;
    min-width: 250px;
    width: 50%;
    border: 0.5px solid white;
    color: white;
    background-color:rgb(46, 45, 45);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
header .btn{
    font-weight: 600;
    display: inline-block;
    background-color: #131111;
    color: #e50914 ;
    cursor: pointer;
    padding: 5px;
    margin: 0px 20px;
}
strong{
    font-size: 1.2em;
}
.search-container{
    text-align: right;
    align-self: center;
    margin-right: 25px;
    vertical-align: middle;
    flex-grow: 1;
}
ul.list-container{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 25px;
}   
.list-container li{
    padding: 50px 20px;
    cursor: pointer;

}
.language{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;

}
.img-container .poster{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.6s height ease-in-out;
}
.specs{
    padding: 20px;
    display: none;
    width: 100%;
}
.vote-star{
    color: #f5bb1d;
}
.fa-star-o{
    color: gray;
}
.overview{
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.logo-container{
    padding: 25px;
}
.logo-container img{
    height: 100%;
}
.specs-window{
    display: flex;
    padding: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
    width: 80vw;
    background-color: black;
    height: 80vh;
    box-shadow: 0px 0px 20px black;
    overflow-y: auto;
}
.close{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 25px;
}
.cast-actor{

}
.specs-window .poster{
    width: 20vw;
    max-width: 300px;
    border: 0.5px solid #ffffff73;
}
.filters{
    position: absolute;
    width: 400px;
    height: 0px;
    overflow: hidden;
    margin: 20px;
    display: flex;
    box-shadow: 0px 0px 20px black;
    transition: height 0.25s ease-in-out;

}
.filters option{
    margin: 10px 0px;
}
.filters select {
    flex-grow: 1;
    padding: 5px 20px;
    font-size: 20px;
    width:50%; 
    background-color: black;
    color: white;
    border: none;
}
.filters label{
    display: inline-block;
    vertical-align: middle;
}
.filters-header{
    margin: 10px 10px;
    cursor: pointer;
}
.filter-open{
    height: 200px;
}
/* HOVER */
.img-container:hover{
    justify-content: flex-start;
    flex-direction: column;
}
.img-container:hover .poster{
    height: 75px;
}
.img-container:hover .not-avaliable{
    display: none;
}
.img-container:hover .specs{
    display: block;
}



/* UTILITIES */
.black-background{
    background-color: black;
}
.padding-10px{
    padding: 10px;
}
.margin-top-page{
    margin-top: 100px;
}
.top-margin{
    margin-top: 10px;
}


/* ANIMATIONS */
.fa-chevron-right{
    transition: transform 0.1s ease-in;
}

/* RESPONSIVENESS */
@media screen and (max-width:450px) {
    header .btn{
        display: none;
    }
    header input{
        min-width:auto;
        width: 100%;
    }
    
}
@media screen and (max-width:600px) {
    .filter-open{
        height: 100px;
        width: auto;
    }
    .filters{
        width: auto;
    }
    .specs-window{
        flex-direction: column;
    }

}
@media screen and (max-width:600px) and (min-width:451px) {
    .list-container li{
        width: 100%;
    }
    header input{
        width: 50px;
        min-width: 100px;
    }
    header .btn{
        content: '<i class="fa fa-search" aria-hidden="true"></i>';
    }
    
}
@media screen and (max-width:900px) and (min-width:601px) {
    .list-container li{
        width: 50%;
    }
    
}
@media screen and (max-width:1200px) and (min-width:901px) {
    .list-container li{
        width: 33%;
    }
    
}
@media screen and (min-width:1201px) {
    .list-container li{
        width: 25%;
    }
    
}
@media screen and (min-width:1400px) {
    .list-container li{
        width: 20%;
    }
    
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }